{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AskPupkin{% endblock %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">

            <a class="navbar-brand" href="{% url 'questions:index' %}">AskPupkin</a>
            <div>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />

            </div>


            <button class="btn btn-outline-success" type="submit">Ask!</button>

            {% block account %}
            <div class="d-flex gap-2 align-items-center">
                {% if user.is_authenticated %}
                <div class="auth_account d-flex gap-2 align-items-center">
                    <div>
                        <img src="{% static 'img/man_4179639.png' %}" class="img-thumbnail" alt="avatar"
                            style="width: 40px; height: 40px; object-fit: cover;">
                    </div>
                    <div class="account">
                        <div class="content__name">Dr. Pepper</div>
                        <div class="content__links">
                            <a href="#">settings</a>
                            <a href="#">log out</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="unauth_account">
                    <div class="content__links">
                        <a href="#">log in</a>
                        <a href="#">register</a>

                    </div>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </nav>
    <main class="container my-4 flex-grow-1">
        <div class="row">
            <div class="col-lg-10">
                {% block content %}
                {% endblock %}
            </div>
            <aside class="col-lg-2 d-flex flex-column gap-4">

                <div class="tags">
                    <h3>Popular Tags</h3>
                    <div class="d-flex flex-wrap gap-3">
                        <div class="tag">TechnoPark</div>
                        <div class="tag">perl</div>
                        <div class="tag">python</div>
                        <div class="tag">Mail.ru</div>
                        <div class="tag">VK</div>
                        <div class="tag">django</div>
                    </div>

                </div>
                <div class="members d-flex flex-column gap-2">
                    <h3>Best Members</h3>
                    <a href="#">Mr. Freeman</a>
                    <a href="#">Dr. House</a>
                    <a href="#">Bender</a>
                    <a href="#">Queen Victoria</a>
                    <a href="#">V. Pupkin</a>
                </div>
            </aside>
        </div>

    </main>
    {% block footer %}
    <footer>
        <nav aria-label="Page navigation example">
            <ul class="pagination ms-5">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </footer>
    {% endblock %}
    <script src="/static/js/bootstrap.bundle.js"></script>
</body>

</html>